{% extends 'base.html' %}
{% block extra_headers %}
{% load static %}
  <link rel="stylesheet" href="{% static './chat/chat.css' %}">
{% endblock %}
{% block body %}
    <div class="content">
      <div class="members">
        <h1 class="team">{{team.name}}</h1>
        <div class="members-list">
          {% for member in member_list %}
          <div class="member">{{member.username|slice:"0:1"}}</div>
          {% endfor %}
        </div>
        
      </div>
      <div class="msg-container">
      <div class="messages" id="messages"></div>
      <div id="anchor"> </div>
      </div>
      <form class="insert-message" action="">
        <input type="hidden" name="team_id" value="{{team.id}}" id="team-id">
        <input type="text" id="input-box" class="input-box" name="messages" autocomplete="off">
        <button id="send" class="submit">Send</button>
      </form>
    </div>
{% endblock %}
{% block scripts %}
  <script src="{% static './chat/index.js'%}"></script>
{% endblock %}