::-webkit-scrollbar {
  width: 10px;
}

/* * {
  border: 1px solid red;
} */

/* Handle */
::-webkit-scrollbar-thumb {
  background: #212a37;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #161b24;
}

.content {
  /* margin-left: 14em; */
  background-color: #f1f1f1;
  height: 100vh;
  padding-bottom: 2em;
}

.members {
  height: 10em;
  border-bottom: 2px solid #212a37;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0.5em 3em 0.5em 3em;
}
.team {
  display: block;
  width: 100%;
  text-align: center;
}
.members-list {
  display: flex;
  width: 100%;
  justify-content: center;
}

.member {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  margin: 0.7em;
  background-color: #212a37;
  color: white;
}

.msg-container {
  height: 67%;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.message {
  margin: 1.3em 3em;
  border-left: 3px solid #1bf2bf;
  padding-left: 0.5em;
  width: auto;
}

.author {
  font-size: medium;
  font-weight: 500;
}

.time {
  color: gray;
  font-size: small;
  text-align: right;
  margin: 0;
  position: relative;
  right: 0;
}

.insert-message {
  padding: 0 3em;
  display: flex;
  align-items: center;
  height: 10%;
  justify-content: space-around;
}

.input-box {
  width: 90%;
  padding: 0.4em;
  border: 1px solid black;
  border-radius: 0.5em;
}

.submit {
  width: 6em;
  display: flex;
  margin-left: 3%;
  align-items: center;
  justify-content: center;
  background-color: #1bf2bf;
  padding: 0.4em;
  text-decoration: none;
  font-size: 1em;
  color: white;
  border: none;
  border-radius: 0.5em;
}

.focus {
  border: 3px solid #1bf2bf;
  outline: none;
}

/* @media only screen and (max-device-width: 500px) {
  .content {
    margin-left: 0px;
  }
} */
