{% extends 'base.html' %}
{% load static %}
{% block extra_headers %}
<link rel="stylesheet" href="{% static './task/task.css' %}">
{% endblock %}
{% block body %}
    <div class="content">
      <div class="members">
        <h1 class="team">{{team.name}}</h1>
        <div class="members-list">
          {% for member in member_list %}
          <div class="member">{{member.username|slice:"0:1"}}</div>
          {% endfor %}
        </div>
      </div>
      <hr>
      <br>
        <div class="container">
            <div style="width:100%; display:flex; justify-content: center;">
              <h3>My Tasks</h3>
            </div>
            {% if tasks|length == 0 %}
              <div style="display: flex; width: 100%; justify-content: center;">
                No Tasks
                <p style="font-size:20px; margin-left: .5em;">&#128512;</p>
              </div>
            {% endif %}
            <div >
              {% for t in tasks %}
              <form method ="POST" id = "form_task" action="{% url 'task:submit_task' id=team_id pk=t.id%}">
                  {% csrf_token %}
                  <div class="custom-control custom-checkbox mb-3">
                      <input type="submit" class="custom-control-input" id='{{t.id}}'>
                      <input type="hidden" value='{{t.id}}' name="task_id">
                      <label class="custom-control-label" for='{{t.id}}'> {{t.task_name}} </label>
                  </div>
                  <div class="listTask">
                      {{t.description}}
                  </div>
              </form>
            </div>
        <br>
    {% endfor %}
    </div>
{% endblock %}