{% extends 'base.html' %}
{% load static %}
{% block extra_headers %}
  <link rel="stylesheet" href="{% static './task/task.css' %}">
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
{% endblock %}

{% block body %}
    <div class="content">
      <div class="members">
        <h1 class="team">{{team.name}}</h1>
        <div class="members-list">
          {% for member in member_list %}
          <div class="member">{{member.username|slice:"0:1"}}</div>
          {% endfor %}
        </div>
      </div>
  <hr>
  <div class="container">
    <div class ="form">
      <form autocomplete="off" class="src-form" action="">
        {% csrf_token %}
        <div class="form-group" id ="form_task">
            <input type="text" class ="form-control-lg" placeholder="Task Name" id="task-name" required>
            <br>
            Description
            <br>
            <input type="text" class ="form-control-lg" id="description" required>
            <br>
            Assign Member
            <br>
            <select id="members" class="form-control-lg">
              <option disabled>---------</option>
              {% for member in member_list %}
                <option value = "{{member.pk}}"> {{member.username}}</option>
              {% endfor %}
            </select>
          </div>
        <input href="{% url 'task:add_task' id=team_id %}" id="assign-task" class="btn btn-secondary addTask" type="submit" value="Add Task">
      </form>
  </div>
{% endblock %}
{% block scripts %}
<script> 
$(document).ready(function () {
    $("#assign-task").click(function(){
        var task_name = $("#task-name").val()
        var description = $("#description").val()
        var member = $("#members").val()
        if(task_name != "" && description != "" && member != null) {
            $.ajax ({
                method : 'POST',
                url : "{% url 'task:add_task' id=team_id %}",
                dataType : 'json',
                headers: { "X-CSRFToken": Cookies.get("csrftoken") },
                data : {
                    task_name : task_name,
                    description : description,
                    member : member,
                },
                success: function() {
                    window.location.assign("{% url 'dashM:manager' id=team_id %}")
                },
                error: function(){
                    alert("Try again")
                },
            })
        } 
    })
    $("#task-name").keypress(function() {
        $(this).css("background-color","#212a37");
        $(this).css("color","white");
        $("#description").css("background-color","white");
        $("#description").css("color","black");
    });

    $("#description").keypress(function() {
        $(this).css("background-color","#212a37");
        $(this).css("color","white");
        $("#task-name").css("background-color","white");
        $("#task-name").css("color","black");
    });
    $("#members").click(function(){
        $("#task-name").css("background-color","white");
        $("#task-name").css("color","black");
        $("#description").css("background-color","white");
        $("#description").css("color","black");
    })
  })
</script>
{% endblock %}