{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;800&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'account/acc/acco.css' %}">

    <title>login</title>
  </head>
  <body>
    <div class="main">
      <div class="container">
        <div class="signup-content">
          <div class="login-img">
            <img id="a" src="{%static 'account/login/Group 13.svg'%}" alt="">
            <img id="rr" src="{%static 'account/login/Group 14.svg'%}" alt="">
            <img  id="b"src="{%static 'account/login/Group 15.svg'%}" alt="">
            <img  id="c"src="{%static 'account/login/Group 16.svg'%}" alt="">
          </div>

          <div class="signup-form">
            <form method="POST" class="register-form">
              {%csrf_token%}
              <div class="form-group">
                <img id="logo" src="{%static 'account/login/ROMUSHA.svg'%}" alt="">
                {% for message in messages %}
                  {% if message.tags == 'success' %}
                    <div style="color:green;" role="alert">
                      {{ message }}
                    </div>
                  {% endif %}
                  {% if message.tags == 'error' %}
                    <div style="color:red;" role="alert">
                      {{ message }}
                    </div>
                  {% endif %}
                {% endfor %}
                  <label for="name">Username</label>
                  <input name ="username" type="username" placeholder=""/>
              </div>
                  
              <div class="form-group">
                  <label for="name">Password</label>
                  <input name ="password" type="password" placeholder=""/>
              </div>

              <div class="form-submit">
                <input type="submit" value="Login" class="submit"/>
              </div>

              <div class="form-submit" style="margin:0;">
                <a id="lo" href="{% url 'acc:register'%}">Sign up</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"crossorigin="anonymous"></script> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src= "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"> </script>
    <script src= "https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"> </script>
  </body>
</html>