{%load static%}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;800&display=swap" rel="stylesheet">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.3/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static 'account/acc/acco.css'%}">

    <title>register</title>
  </head>
  <body>

    <div class="main">
      <div class="container">
        <div class="signup-content">
            <div class="signup-img">
                <h2 id="reg">Register</h2>
                <img class="img" src="{%static 'account/register/Group 19.png'%}" alt="">
            </div>

            <div class="signup-form">
              <form method="POST" class="register-form" >
              {%csrf_token%}
              <div class="form-group">
                <label for="">Username</label>
                <input type="text" name="username" placeholder="" class="form-control" id="usernameField">
              </div>
                
              <div class="form-group">
                <label for="">Email</label>
                <input type="email" name="email" placeholder="" class="form-control" id="e">
              </div>
                
              <div class="form-group">
                <label for="">Password</label>
                <input type="password" name="password1" placeholder="" class="form-control" id="p1">
              </div>
                
              <div class="form-group">
                <label for="">Confirm password</label>
                <input type="password" name="password2" placeholder="" class="form-control" id="p2">
              </div>

              <div style="color:red;" role="alert">
                {{form.password1.errors}}
                {{form.password2.errors}}
              </div>

              <div class="form-submit">
                <input type="submit" value="Create Account" class="submit"/>
              </div>

              <div style="width: 100%; display: flex; justify-content: center;">
                <h3>Already have an account? <a style="text-decoration: none; color: black; border-bottom:3px solid #3EEBB7;" href="{% url 'auth:loginPage' %}">Login</a></h3>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"crossorigin="anonymous"></script> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src= "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"> </script>
    <script src= "https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"> </script>
    <script>
      $(document).ready(function () {
        $("#usernameField").keyup( function(){
          var ketikan = $("#usernameField").val();
       
          //panggil ajax
          $.ajax({
            url: '/login/validate_username/'+ketikan,
            dataType: 'json',
            success: function (hasil){
              if (hasil.is_taken) {
                alert("A user with this username already exists.");
                $("#usernameField").css("background-color","#e0e0e0");
                }
              }
            });
         });

        $("#usernameField").click(function() {
          $(this).css("background-color","#e0e0e0");
          $("#e").css("background-color","#e0e0e0");
          $("#p1").css("background-color","#e0e0e0");
          $("#p2").css("background-color","#e0e0e0");
        });
      });
    </script>
  </body>
</html>