main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100vh;
  padding: 0 1em;
  overflow-y: scroll;
}

main .scroll-container {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding-bottom: 3em;
}

main .top {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 10em;
          flex: 0 1 10em;
  margin-bottom: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 10em;
  width: 100%;
  border-bottom: 2px solid black;
}

main .top h1.header {
  color: black;
  font-size: 2em;
  text-align: center;
  margin-bottom: 1em;
  font-weight: 800;
}

main .bottom {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .bottom .illustrations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin-right: 2em;
}

main .bottom .illustrations img {
  height: 6em;
  width: auto;
  margin: 1em 0;
}

main .bottom form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .bottom form h4 {
  margin-bottom: .2em;
  font-size: 1em;
}

main .bottom form .form-input {
  border: 1px solid #212A37;
  width: 25em;
  height: 3em;
  margin-bottom: 1em;
  border-radius: 0.5em;
}

main .bottom form .form-input:focus {
  outline: 1px solid yellow;
}

main .bottom form .required-reminder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  width: 100%;
}

main .bottom form .required-reminder small {
  color: black;
  font-weight: 400;
  background: yellow;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  padding: 0 1em;
}

main .bottom form button {
  border: none;
  outline: none;
  margin-top: 1em;
  border-radius: 0.5em;
  background: #3EEBB7;
  padding: .5em;
  display: inline-block;
  font-size: 1em;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

main .bottom form button:hover {
  opacity: .6;
}

main .select-members {
  border: 1px solid #212A37;
  width: 25em;
  margin-bottom: 1em;
  border-radius: 0.5em;
  padding: 1em;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 10em;
  background: white;
}

main .select-members::-webkit-scrollbar {
  width: 10px;
}

main .select-members::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}

main .select-members .select-items {
  margin: .2em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .select-members .select-items input {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  height: 1em;
  margin: 0 1em 0 0;
}

main .select-members .select-items h2 {
  font-size: 1em;
}

@media (max-width: 800px) {
  .illustrations {
    display: none !important;
  }
}

@media (max-width: 500px) {
  main {
    padding: 1em;
  }
  main .top {
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
  }
  main .bottom form {
    width: 100%;
  }
  main .bottom form .form-input {
    width: 100%;
  }
  main .bottom form .select-members {
    width: 100%;
  }
}
/*# sourceMappingURL=create-team.css.map */