$borderRadius: .5em;
$mobileWidth: 500px;
$headerHeight: 10em;

h1.title {
  color: #212A37;
  font-size: 2em;
  margin-top: 1em;
}

main.dashboard {
  display: flex;
  flex-direction: column;

  padding: 1em;
  box-sizing: border-box;

  height: 100vh;

  .top {
    flex: 0 1 10em;

    #create-team-btn {
      &:hover {
        opacity: .6;
      }

      border-radius: $borderRadius;
      background: #3EEBB7;
      padding: .5em;
      display: inline-block;

      font-size: 1.5em;
      color: black;
      text-decoration: none;

      cursor: pointer;
    }
  }

  .bottom {
    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background: grey;
      border-radius: 10px;
    }

    margin-top: 2em;
    padding-bottom: 2em;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    color: #212A37;
    overflow-y: scroll;
    overflow-x: hidden;

    flex: 0 1 auto;

    .scroll-container {
      height: max-content;
    }

    .owned-teams, .other-teams {
      margin-bottom: 1em;

      h5 {
        padding: .5em;
      }
    }

    .team-container {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
    }

    .team {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-decoration: none;
      cursor: pointer;

      background: white;
      padding: 1em;
      width: 20em;
      height: 10em;
      margin: .5em;

      border-radius: $borderRadius;

      &:hover {
        opacity: .9;
      }

      .team-name {
        font-size: 1.5em;
        color: #212A37;
      }

      .team-desc {
        font-size: 1em;
        color: #212A37;
      }

      .members {
        &::-webkit-scrollbar-thumb {
          border-radius: 10px;
        }

        display: flex;

        width: 100%;

        height: min-content;

        .member-item {
          display: flex;
          align-items: center;
          justify-content: center;

          height: 3em;
          width: 3em;
          background: #212A37;
          border-radius: 50%;
          margin: 0 .2em;
          box-sizing: border-box;

          h6 {
            font-size: 1.5em;
            font-weight: 500;
            color: white;
          }
        }
      }
    }
  }
}

@media (max-width: $mobileWidth) {
  main.dashboard {
    padding: 0;

    .top {
      padding: .5em;
    }

    .bottom {
      &::-webkit-scrollbar {
        display: none;
      }

      margin-top: .5em;
      .scroll-container {
        align-items: center;
      }

      .team {
        width: 100vw;
      }
    }
  }
}