::-webkit-scrollbar {
    width: 10px;
}

/* * {
border: 1px solid red;
} */

/* Handle */
::-webkit-scrollbar-thumb {
    background: #212a37;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #161b24;
}

.content {
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
    height: 100vh;
    /* overflow-y: scroll; */
}

.members {
    height: 10em;
    border-bottom: 2px solid #212a37;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0.5em 3em 0.5em 3em;
}

.team {
    display: block;
    width: 100%;
    text-align: center;
}

.members-list {
    display: flex;
    width: 100%;
    justify-content: center;
}

.member {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    margin: 0.7em;
    background-color: #212a37;
    color: white;
}

/* element.style {
background-color: white;
} */

.jumbotron {
    border-radius: 7px;
    min-height: 10rem;
}

.shadow {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.jumbotron-fluid {
    padding-right: 0;
    padding-left: 0;
    border-radius: 0;
}

.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: .3rem;
}

.list-tasks {
    overflow-y: scroll;
    flex: 0 1 auto;
    padding-bottom: 5em;
}

.nav {
    display: flex;
    float: right;
}