{% extends 'base.html' %}
{% load static %}
{% block extra_headers %}
  <link rel="stylesheet" href="/static/team/create-team.css">
{% endblock %}
{% block body %}
<main>
  <div class="scroll-container">
    <div class="top">
      <h1 class="header">CREATE NEW TEAM</h1>
    </div>

    <!-- Warning message -->
    <div class="alert alert-danger mb-3" role="alert">
      Form is not complete
    </div>

    <div class="bottom">
      <div class="illustrations">
        <img src="{% static 'team/illustration-1.svg' %}" alt="">
        <img src="{% static 'team/illustration-2.svg' %}" alt="">
        <img src="{% static 'team/illustration-3.svg' %}" alt="">
      </div>
      <form action="">
        <h4>Team Name</h4>
        <input type="text" name="name" class="form-input" placeholder="Insert team name">
        <h4>Description</h4>
        <input type="text" name="description" class="form-input" placeholder="Insert description">
        <h4>Add Members</h4>
        <small id='member-counter'></small>
        <div class="select-members">
          {% for user in users %}
            <div class="select-items">
              <input class="select-checkbox" type="checkbox" value="{{ user.pk }}">
              <h2>{{ user.username }}</h2>
            </div>
          {% endfor %}
        </div>
        <button id="create-team-btn">Create Team</button>
      </form>
    </div>
  </div>
</main>
{% endblock %}
{% block scripts %}
  <script>
    const data = {
      name: null,
      description: null,
      members: []
    }

    $(document).ready(() => {
      // Initialize content
      const memberCounter = $('#member-counter')
      memberCounter.html(`${data.members.length} members chosen`)

      $('.alert-danger').hide()

      // Handle focus event
      const requiredReminder = $("<div class='required-reminder'><small>This field is required</small></div>")
      $('input').focusin(() => {
        $(requiredReminder).insertBefore($('.form-input:focus'))
      })

      $('input').focusout(() => {
        requiredReminder.remove()
      })

      // Handle change event
      $('input').change(e => {
        data[e.target.name] = e.target.value
        memberCounter.html(`${data.members.length} members chosen`)
      })

      // Handle click event
      $('.select-checkbox').click(e => {
        const id = e.target.value
        const pos = data.members.indexOf(id)
        if (pos !== - 1) {
          data.members.splice(pos, 1)
        } else {
          data.members.push(id)
        }
        console.log(data.members)
      })

      // Handle click event
      $('#create-team-btn').click(e => {
        e.preventDefault()
        let valid_form = true;

        Object.values(data).map(item => {
          if (item === null || item.length === 0) {
            valid_form = false;
          }
        })

        // Send data via ajax
        if (valid_form) {
          $.ajax({
            url: "{% url 'ajax-add-team' %}",
            method : "post",
            dataType : "json",
            data : data,
            headers: { "X-CSRFToken": getCookie("csrftoken") },
            success: (res) => {
              window.location.assign("{% url 'teams' %}")
            },
            error: (res) => {
              alert('Team creation failed')
            }
          })
        } else {
          $('.alert-danger').show()
        }
      })
    })

    function getCookie(c_name)
    {
        if (document.cookie.length > 0)
        {
            c_start = document.cookie.indexOf(c_name + "=");
            if (c_start != -1)
            {
                c_start = c_start + c_name.length + 1;
                c_end = document.cookie.indexOf(";", c_start);
                if (c_end == -1) c_end = document.cookie.length;
                return unescape(document.cookie.substring(c_start,c_end));
            }
        }
        return "";
    }
  </script>
{% endblock %}