{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;800&display=swap" rel="stylesheet">

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <!-- CSS -->
  <link rel="stylesheet" href="{% static 'main.css' %}">

  <!-- Custom Headers -->
  {% block extra_headers %}
  {% endblock %}
</head>
<body>
  <!-- Sidebar -->
  <div class='sidebar'>
    <div class="top">
      <div id="close-container">
        <img id="close-btn" src="{% static 'cross.svg' %}" alt="">
      </div>
      <div class="header">
        <div class="user-initial">
          <h6>{{ user.username|slice:"0:1" }}</h6>
        </div>
        <div class="user-name">{{ user.username }}</div>
      </div>
      <div class="item-container">
        <a href="{% url 'teams' %}" class="item">My Teams</a>
        <a class="chat-head item">
          Chats
          {% include 'arrow.html' %}
        </a>
        <div class="chat-dropdown">
          {% for team in user.owned_teams.all %}
            <a href="{% url 'chat:index' id=team.id %}" class="">{{team.name}}</a>
          {% endfor %}
          {% for team in user.team_set.all %}
            <a href="{% url 'chat:index' id=team.id %}" class="">{{team.name}}</a>
          {% endfor %}
        </div>
        </div>
    </div>
    <div class="footer">
      <a href="{% url 'auth:logout' %}" class="logout-btn">Logout</a>
    </div>
  </div>

  <div class="root">
    <!-- Navbar -->
    <nav>
      <div class="burger">
        <div></div>
        <div></div>
        <div></div>
      </div>
      <div class="content"></div>
    </nav>
    {% block body %}
    {% endblock %}
  </div>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script>
  // Sidebar logic
  $(document).ready(() => {
    $('.burger').click(() => {
      $('.sidebar').addClass('show')
    })

    $('#close-btn').click(() => {
      $('.sidebar').removeClass('show')
    })

    $('.chat-head').click(() => {
      $('.chat-dropdown').toggleClass('show')
      $('svg').toggleClass('rotate')
    })
  })
</script>
{% block scripts %}
{% endblock %}
</html>