{% extends 'base.html' %}

{% block extra_headers %}
{% load static %}
    <link rel="stylesheet" href="{% static './dashM/dashMn.css' %}">
{% endblock %}

{% block body %}
<div class="content">
  <div class="container">
    <div class="members">
      <input type="hidden" id="team_id" value={{team.id}}>
      <h1 class="team">{{ team.name }}</h1>
      <div class="members-list">
        {% for member in member_list %}
        <div class="member">{{member.username|slice:"0:1"}}</div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="list-tasks">
    <div class="d-flex justify-content-end p-2">
      <a href="{% url 'delete-team' team.pk %}" class="badge badge-pill badge-danger" style="cursor: pointer;">Delete Team</a>
    </div>
    <div class="container p-4 mb-2 text-center text-dark">
      <a href="/team/{{ team_id }}/task/add/">
        <button type="button" class="btn btn-light btn-outline-success btn-lg">Add Task</button>
      </a>
    </div>
    <div class="container">
      <h3>Submitted Task :</h3>
      <br>
      {% if task_Sub|length == 0 %}
        <div class="alert alert-primary" role="alert">
          No Tasks Submitted
        </div>
      {% endif %}
    </div>
    {% for i in task_Sub %}
    <div class="container mb-3">
      <ul class="nav">
          {% csrf_token %}
          <li class="nav-item">
          <a class="nav-link text-dark" id="task-acc">Accept</a>
          </li>
          {% csrf_token %}
          <li class="nav-item">
          <a class="nav-link text-danger" id="task-rej">Reject</a>
          </li>
      </ul>
      <h4><i>Task {{i.id}}</i> : {{i.task_name}}</h4>
    </div>

    <div class="container list-task">
      <input type="hidden" id="task_id" value={{i.id}}>
      <div style="background-color: white;" class="jumbotron jumbotron-fluid shadow">
        <div class="container">
          <p class="lead">{{ i.description }} </p>
          <div class="card border-dark mb-3" style="max-width: 35rem;">
            <div class="card text-dark" style="background-color: #f1f1f1;">
              <p class="card-text p-2">Submitted by: {{ i.member }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}


    <div class="container">
      <h3>On-going Task :</h3>
      <br>
      {% if task_On|length == 0 %}
        <div class="alert alert-primary" role="alert">
          No On-going Tasks
        </div>
      {% endif %}
    </div>
    {% for i in task_On %}
    <div class="container mb-3">
      <ul class="nav">
        {% csrf_token %}
        <li class="nav-item">
        <a class="nav-link text-danger" id="task-del">Delete Task</a>
        </li>
      </ul>
      <h4><i>Task {{i.id}}</i> : {{i.task_name}}</h4>
    </div>

    <div class="container list-task">
      <input type="hidden" id="task_id" value={{i.id}}>
      <div style="background-color: white;" class="jumbotron jumbotron-fluid shadow">
        <div class="container">
          <p class="lead">{{ i.description }} </p>
          <div class="card border-dark mb-3" style="max-width: 35rem;">
            <div class="card text-dark" style="background-color: #f1f1f1;">
              <p class="card-text p-2">Given to: {{ i.member }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

</div>


{% endblock %}

{% block scripts %}
<script>
  $(document).ready(function() {
    $("#task-acc").click(function() {
      var team_id = $("#team_id").val();
      var task_id = $("#task_id").val();
      var url = "/dashM/" + team_id + "/accept/";
      console.log(team_id)
      console.log(task_id)
      $.ajax ({
        method : 'POST',
        url : url,
        dataType : 'json',
        data : {
          team_id : team_id,
          task_id : task_id,
          csrfmiddlewaretoken : $('input[name=csrfmiddlewaretoken]').val(),
        },
        success: function() {
          window.location.assign("/dashM/" + team_id + "/")
        },
      })
    })

    $("#task-rej").click(function() {
      var team_id = $("#team_id").val();
      var task_id = $("#task_id").val();
      var url = "/dashM/" + team_id + "/reject/";
      console.log(team_id)
      console.log(task_id)
      $.ajax ({
        method : 'POST',
        url : url,
        dataType : 'json',
        data : {
          team_id : team_id,
          task_id : task_id,
          csrfmiddlewaretoken : $('input[name=csrfmiddlewaretoken]').val(),
        },
        success: function() {
          window.location.assign("/dashM/" + team_id + "/")
        },
      })
    })

    $("#task-del").click(function() {
      var team_id = $("#team_id").val();
      var task_id = $("#task_id").val();
      var url = "/dashM/" + team_id + "/delete/";
      console.log(team_id)
      console.log(task_id)
      $.ajax ({
        method : 'POST',
        url : url,
        dataType : 'json',
        data : {
          team_id : team_id,
          task_id : task_id,
          csrfmiddlewaretoken : $('input[name=csrfmiddlewaretoken]').val(),
        },
        success: function() {
          window.location.assign("/dashM/" + team_id + "/")
        },
      })
    })

  })
</script>
{% endblock %}